.contenedorGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header header header""main main main""footer footer footer";
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.gridFooter{
    grid-area: footer;
}

