@mixin boton {
    width: 150px;
    height: 80px;
}

@mixin anchoAlto ($w,$h) {
    max-width: $w;
    min-height: $h ;
}

@mixin flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@mixin flexDos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@mixin sombra {
    color: #fff;
    text-shadow:
  0 0 7px black,
  0 0 8px black,
  0 0 21px black,
  0 0 42px red,
  0 0 82px red,
  0 0 92px red,
  0 0 102px red,
  0 0 151px red;
}

@mixin dBlock {
    display: block;
    margin: 0 auto;
}
