@import "bootstrap";
@import "variables_Each";
@import "mixins";

/*generales*/
.fondo{
    background-image: url(../img/imgSitio/banner_1.png);
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    font-size: 5.5rem;
    font-family: 'Girassol', cursive;
    text-align: center;
    letter-spacing: 8px;
    padding-top: $valorUno - 50px;
}

h1 {
    animation-duration: 5s;
    animation-name: tith1;
}

@keyframes tith1 {
     0% {
     opacity: 0;
    }
    100% {
     opacity: 1;
   }
}

h2{
    color:#0a25f5;
    font-family: 'Girassol', cursive;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 2px black
}

h3{
    color: #e1f1e9;
    font-size: 20px;
    word-spacing: 12px;
    letter-spacing: 3px;
    font-family: 'Girassol', cursive;
    text-shadow: 2px 2px 2px black
}

h5{
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px black;
}



li{
    font-family: 'Girassol', cursive;
    font-weight: bolder;
    list-style-position: outside;
}

a{
    text-decoration: none; 
}

.logoPrincipal{
    padding-right: $valorUno + 250px;
}



main{
    background-image: url(../img/imgSitio/circ.png);
    /*background-repeat: no-repeat;*/
    background-size:cover;
    background-position-x: 50%;
    background-position-y: 50%; 

    .whatsapp{
        position: -webkit-sticky;
        position: sticky;
        display: flex;
        flex-direction: row-reverse;
        margin-right: 60px;
        top:$valorDos + $valorUno;
    }
    .titPrincipal{
        @include sombra;
     }
     .subTitPrincipal{
         text-align: center;
         font-size: 35px;
         @include sombra;
         font-family: 'Girassol', cursive;
         margin-bottom: 50px;
     }
}

.botonComprar{
    padding: 0.4rem;
    color: white;
    text-shadow: 2px 2px 4px $colorNegro;
    border-color: $colorRojo;
    background-color: $colorRojo;
    border-radius: 0.2rem;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.6rem;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.botonComprar:hover{
    border-color: white;
    color: white;
    background-color: $colorNegro;
    transition: 300ms linear;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
}




.footer{
    background-image:linear-gradient(to right,rgb(245, 7, 7), rgb(235, 204, 204)); 
    border-radius: 10px;    
    
}

.figuras{
    @include flexDos;
    max-width: 1100px;
    min-height: 1500px;
    padding: 0px 50px 100px 400px;
}

.libros{
    @include flexDos;
    max-width: 1500px;
    min-height: auto;
}



/*______FIGURAS______*/

.titFig{
    color: rgb(24, 2, 2);
    text-align: center;
    font-weight: bolder;
    font-family: 'Girassol', cursive;
    font-size: 1.8rem;
    text-shadow: 2px 2px #558ABB;

    .figureBorde{
        border: 2px solid $colorNegro;
        box-shadow: 10px 5px 5px grey;
    }
    
    .figureBorde{
        transition: all 2s;
    }
    .figureBorde:hover{
        width: $valorDos + 150px;
        height: $valorTres/2 + 300px;
    }

    .precio{
        color:rgb(4, 56, 56);
        
        
    }
}



.indexLibros{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30%;
}
.indexLibros{
    border: 1px solid $colorNegro;
    box-shadow: 10px 5px 5px grey;
}
.indexLibros{
   transition: all 2s;
}
.indexLibros:hover{
    width: 250px;
    height: $valorTres;
}


.volver{
    font-family: 'Girassol', cursive;
    color: white;
    font-size: 25px;
    background-color: teal;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgb(233, 49, 65);
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    @include boton;
}

/*_______SECCION LIBROS_______*/
.titLibros{
    font-size: 55px;
    text-decoration: underline;
    color: rgb(235, 67, 67);
    text-shadow: 4px 3px 2px $colorNegro;
    padding-top: $valorUno;
}


    
/*________QUIENES SOMOS_________*/
.pagSomos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-area: "main main";
    @include anchoAlto (1800px, 350px);
}

.quienesSomos{
    width: 150%;
    margin: 0px 0px 200px 0px;
    transform: rotateY(15deg);
    text-transform: inherit;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Girassol', cursive;
    color: #050c87;
    word-spacing: 3px;
}
.quienesSomos{
    transition: all 2s;
}
.quienesSomos:hover{
    border-radius: 15px;
    box-shadow: 15px 5px 5px rgb(233, 49, 65);
}

.titCarousel{
    font-size: 20px;
    color: $colorRojo;
    text-shadow: 2px 2px 2px $colorNegro;
} 

 
.reseña{
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px $colorRojo;
}
.reseña__Parr{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.preguntas{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: black;
}


/*_______CONTACTO________*/

.somos{
    font-size: 50px;
}

#imgSet{
    background-image: url(../img/imgSitio/edAl.png);
    margin: 0px 0px 100px 0px;
    background-repeat: no-repeat;
    background-position:right;
    background-size: 550px;    
    text-align: center;
    font-size: 1.3rem;
}

.espacioUno{
    @include flex;
    align-content: space-between;
    padding-left: 41%;
    padding-bottom: 1%;
}
.espacioDos{
    @include flex;
    align-content: space-between;
    padding-left: 42%;
}
.espacioTres{
    @include flex;
    align-content: space-between;
    padding-left: 42%;
    padding-top: 1%;
}
.espacioCuatro{
    @include flex;
    align-content:center;
    padding-top: 1%;
}
.espacioCinco{
    padding-top: 1%;
    padding-left: 26px;
}
.formProp{
    padding: auto;
    border-radius: 15px;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
    margin: 100px 0px 300px 0px;
    background-color: #e9f2f5;
    font-family: 'Girassol', cursive;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(241, 157, 157)
}

.ubicacion{
    display: block;
    margin: 0 auto;
    width:$valorDos +  200px;
}

iframe{
    box-shadow: 2px 2px 2px 4px $colorNegro;
}

.ubicacionParr{
    color: $colorRojo;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 

    .footerLogo{
        width: $valorTres;
        margin-left: 70px;
        
    }
    .footerLogoDos{
        margin-top: 20px;
        margin-left: 60px;
    }
    
    .footerSecciones{
        text-align: center;
        margin-right: 100px;
    }
    
    
    .footerTit{
        font-size: 2.2rem;
        text-align: center;
    }
    .footerEnlaces{
        list-style: none;
    }
    
    .footerRedes{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding-left:50px ;
    }

}

@media only screen and (max-width: 768px) {
    .imgLogo{
          display: block;
          width: 350px;
          padding-right: 100px;
    }
  h1{
          font-size: 3rem;
    }

    h2{
          font-size: 1.5rem;
    }
    h5{
          font-size: 2rem;
    }
    .titFig{
          display: block;
    }
    
    .libros{
        flex-direction: column;
        align-items: center;
    }

    .indexLibros{
        margin-top: 20px;
    }

    .carousel{
          background-color: rgb(243, 11, 11);
          width: 100% !important;
          margin: 0 auto;
          border-radius: 45px;
          margin-top: 100px;
          margin-bottom: 100px;
    }

    .volver{
        margin-left: 150px;
    } 

    .figureBorde{
        display: block;
        margin: 0 auto;
    }

    .mediaImg{
        width: 70%;
        height: auto;
    }
    .footerLogo{
        .footerLogoDos{
            margin-left: 50%;
        }
        .h4{
            margin-left: 25%;
        }
    }
    .footerRedes{
        li{
            img{
                width: 75px;
            }
        }
    }

}

@media screen and(max-width:360px) {
    .imgLogo{
        display: block;
        margin: 0 auto;
        width: 350px;
  }
    h1{
        font-size: 2rem;
    }
    h5{
        font-size: 1.5rem;
    }

    .footer{
        flex-direction: column;
        align-items: center;
        align-content: center;
        .footerLogo{
            .h4{
                text-align: center;
                font-size: 1rem;
                margin-left: 5%;
            }    
            .footerLogoDos{
                margin-left: 25%;
                display: block;
            }
        }
        .footerTit{
            text-align: center;
            font-size: 1rem;
        }
        .footerSecciones{
            display: block;
            margin: 0 auto;
        }
        .footerEnlaces{
            li{
                margin-left: 25%;
            }
        }
    }   

    .volver{
        width: 50%;
        height: 30%;
        font-size: 1.2rem;
    }

    .espacioCuatro{
        width: 25%;
        margin-left: 25%;
    }

    iframe{
        width: 80%;
        margin-left: 20px;
    }

    .ubicacionParr{
        width: 250px;
        font-size: 2rem;
        padding-left: 40px;
    }

    .espacioUno{
        padding-left: 20%;
    }

    .espacioDos{
        padding-left: 20%;
    }

    .espacioTres{
        padding-left: 20%;
    }

    .indexLibros{
        justify-content: flex-start;
    }

    .libros{
        align-items: flex-start;
    }

}








